<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <style>
      .card-img-top {
        width: 100%;
        height: 25vw;
        object-fit: cover;
      }
      ion-icon {
        size: large;
        color: grey;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light mb-3">
      <div class="container">
        <a class="navbar-brand" href="#">Djangogram</a>
        <button
          class="navbar-toggler"
          data-toggle="collapse"
          data-target="#navbarNav"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'auth:single' pk=user.id %}"
                >My profile</a
              >
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
                href="{% url 'posts:for_user' user_pk=user.id %}"
                >My posts</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'auth:logout' %}">Logout</a>
            </li>

            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'auth:signup' %}">SignUp</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'auth:login' %}">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    {% for message in messages %}
    <div class="container">
      {{ message }}
    </div>
    {% endfor %} {% block content %} {% endblock %}
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
  </body>
</html>
